logtmp/
cam-files/
trash/*
raw
mesh_material/geodists_smpl_27554.pkl
mesh_material/geodists_sheep_5004.pkl
logdir
tmp
Manifold
database
__pycache__/
lasr_vcn/
*.pyc
.nfs*
t0.txt
t1.txt
t11.txt
t111.txt
t2.txt
t3.txt
t4.txt
bg.txt
