[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e000/

[data_1]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e001/

[data_2]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e002/

[data_3]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e003/

[data_4]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e004/

[data_5]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e005/

[data_6]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e006/

[data_7]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e007/

[data_8]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e008/

[data_9]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e009/

[data_10]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e010/

[data_11]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e011/

[data_12]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-e012/

[data_13]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-i000/

[data_14]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-i001/

[data_15]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-i002/

[data_16]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-i003/

[data_17]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-i004/

[data_18]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-i005/

[data_19]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q000/

[data_20]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q002/

[data_21]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q003/

[data_22]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q004/

[data_23]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q005/

[data_24]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q006/

[data_25]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q007/

[data_26]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q009/

[data_27]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q011/

[data_28]
ishuman = n
ks = 1920 1920 533 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-q012/

[data_29]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r000/

[data_30]
ishuman = n
ks = 1982 1982 522 991
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r001/

[data_31]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r002/

[data_32]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r003/

[data_33]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r004/

[data_34]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r005/

[data_35]
ishuman = n
ks = 1982 1982 522 991
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r006/

[data_36]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-r007/

[data_37]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t000/

[data_38]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t001/

[data_39]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t002/

[data_40]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t003/

[data_41]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t004/

[data_42]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t005/

[data_43]
ishuman = n
ks = 1895 1895 546 947
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t006/

[data_44]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t007/

[data_45]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t008/

[data_46]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-t009/

[data_47]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u000/

[data_48]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u001/

[data_49]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u002/

[data_50]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u003/

[data_51]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u004/

[data_52]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u005/

[data_53]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u006/

[data_54]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u007/

[data_55]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-u008/

[data_56]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w000/

[data_57]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w001/

[data_58]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w003/

[data_59]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w004/

[data_60]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w005/

[data_61]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w006/

[data_62]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w007/

[data_63]
ishuman = n
ks = 1982 1982 522 991
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w008/

[data_64]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w009/

[data_65]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w010/

[data_66]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-w011/

[data_67]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y000/

[data_68]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y002/

[data_69]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y003/

[data_70]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y004/

[data_71]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y005/

[data_72]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y006/

[data_73]
ishuman = n
ks = 1982 1982 991 522
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y007/

[data_74]
ishuman = n
ks = 1982 1982 522 991
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-pexel-y010/

[data_75]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1001/

[data_76]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1002/

[data_77]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1003/

[data_78]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1004/

[data_79]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1005/

[data_80]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1006/

[data_81]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1007/

[data_82]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1009/

[data_83]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1011/

[data_84]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1012/

[data_85]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/felipe-1000/

[data_86]
ishuman = n
ks = 960 960 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog-dualrig-fgbg000/
