[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_bouncing1/

[data_1]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_bouncing3/

[data_2]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_bouncing5/

[data_3]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_bouncing7/

[data_4]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_handstand1/

[data_5]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_handstand3/

[data_6]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_handstand5/

[data_7]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/D_handstand7/

[data_8]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_crane1/

[data_9]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_crane3/

[data_10]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_crane5/

[data_11]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_crane7/

[data_12]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_jumping1/

[data_13]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_jumping3/

[data_14]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_jumping5/

[data_15]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/I_jumping7/

[data_16]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba1/

[data_17]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba3/

[data_18]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba5/

[data_19]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba7/

[data_20]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing1/

[data_21]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing3/

[data_22]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing5/

[data_23]
ishuman = y
ks = 1600 1600 800 600
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing7/

[data_24]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-400/

[data_25]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-401/

[data_26]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-402/

[data_27]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-404/

[data_28]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-405/

[data_29]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-407/

[data_30]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-500/

[data_31]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-501/

[data_32]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-502/

[data_33]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-503/

[data_34]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/pablo/

[data_35]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/breakdance-flare/

[data_36]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/dance-twirl/

[data_37]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/breakdance/

[data_38]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/parkour/

[data_39]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/helge/

[data_40]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/weipeng/

[data_41]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/simeng1/

[data_42]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/simeng2/

[data_43]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/oleks/

[data_44]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/natalia/

[data_45]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/nadia/

[data_46]
ishuman = y
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/franzi/
